.skills-content-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:40px 0px;
    align-items: center;
    width: 80%;
    margin:0 auto;
    margin-top: 30px;
}

.skills-content-container div{
    display:flex;
    justify-content: center;
    align-items: center;

    animation: fade-in auto linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 20%
}

.skills-content-container img{
    width: 145px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
}

@keyframes fade-in{
    0%{
        opacity:0;
        transform: scale(0.1);
    }
    100%{
        opacity:1;
        transform: scale(1);
    }
}

/*Tablet*/
@media (max-width: 1000px){
    .skills-content-container{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        width: 90%;
        gap:10px;
        margin:0 auto;
        margin-top: 30px;
    }
}

/*Mobile*/
@media (max-width: 550px){
    .skills-content-container{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        width: 90%;
        gap:10px;
        margin:0 auto;
        margin-top: 30px;
    }
    .skills-content-container img{
        width: 100px;
    }
}
