.skills-content-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:50px;
    align-items: center;
    width: 80%;
    margin:0 auto;
    margin-top: 30px;
}

.skills-content-container div{
    display:flex;
    justify-content: center;
    align-items: center;
}

.skills-content-container img{
    width: 145px;
    border-radius: 10px;
    margin: 0 auto;
}

/*Mobile and tablet*/
@media (max-width: 1000px){
    .skills-content-container{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        width: 90%;
        gap:10px;
        margin:0 auto;
        margin-top: 30px;
    }
}
