
.paragraph{
    padding-top: 50px;
    color:#fff;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    gap:20px;
    width: 80%;
    margin:0 auto;
}

.sub-paragraph{
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    gap:10px;
    width: 100%;
    margin:0 auto;
}
.sub-paragraph .paragraph-title{
    font-size: 18px;
}

.paragraph-title{
    width: 347px;
    text-align: start;
    font-size: 20px;
    font-family: 'Jost';
}
.paragraph-content{
    font-family: 'HindMadurai';
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (max-width: 1000px){
    .paragraph{
        width: 90%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}