.project{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 95%;
    height: 400px;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom:50px;
}

.project .role{
    font-size: 16px;
}
.project-image{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}
.project-description{
    height: 100%;
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border-left: 3px solid #ffffff48;
}
.project-description-text{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
    gap:20px;
    font-family: 'HindMadurai';
    font-size: 18px;
}
.project-description-text header{
    font-size: 20px;
}
.project-description-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px;
}
.visit-site-button{
    border-radius: 20px;
    width: 128px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jost';
    transition: background-color 0.1s ease-in-out;
}
.visit-site-button:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.tecnologies-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px
}
.tecnologies-container img{
    opacity: 0.8;
    width: 30px;
    height: 30px;
}

/*Tablet*/
@media (min-width: 650px) and (max-width: 1000px){
    .project{
        flex-direction: column;
        height: auto;
        gap:30px
    }
    .project-image{
        width: 100%;
        max-height: 50vh;
    }
    .project-description{
        width: 100%;
    }
    .visit-site-button{
        margin-top: 20px;
    }
}

/*Mobile*/
@media (max-width: 650px){
    .project{
        flex-direction: column;
        height: auto;
        gap:30px
    }
    .project .role{
        font-size: 14px;
    }
    .project-image{
        width: 95%;
        height: auto;
    }
    .project-description{
        width: 100%;
    }
    .visit-site-button{
        margin-top: 20px;
    }
    .project-description-text{
        font-size: 16px;
    }
}