.homepage-title-container{
    padding-left: 100px;
    grid-area: title;
}
.title-luminous-effect{
    background-color: rgba(0, 132, 255, 0.5); 
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    filter: blur(150px); 
    z-index: 0; 
    pointer-events: none;
}
.homepage-title{
    font-size:100px;
    font-family: 'Raleway';
    font-weight: 500;
    line-height: 117.4px;
    margin: 0;
}
.homepage-title span{
    color:#0084FF;
    font-weight: 600;
}
.homepage-subtitle{
    font-size: 35px;
    font-weight: 200;
    font-family: 'PublicSans';
    font-style: italic;
    opacity: 0.8;
    margin: 0;
    margin-top: 10px;
}
.homepage-buttons-container{
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    gap:50px
}
.homepage-buttons-container a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 200px;
    height: 60px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    color: #FFF;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.homepage-buttons-container :first-child{
    background-color:#0084FF;
    border: 0;
    transition: box-shadow 0.1s ease-in-out;
}
.homepage-buttons-container :last-child{
    background-color: transparent;
    color: #fff;
    border: 3px solid #FFF;
    opacity: 0.8;
    transition: background-color 0.1s ease-in-out;
}
.homepage-buttons-container :first-child:hover{
    box-shadow: 0 0 20px rgba(0, 132, 255, 0.7);
}
.homepage-buttons-container :last-child:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

/*Tablet*/
@media (max-width: 950px) {
    .homepage-title-container{
        padding-left: 0;
        padding-top: 50px;
        text-align: center;
    }
    .homepage-title{
        font-size: 50px;
        line-height: 58.7px;
    }
    .homepage-subtitle{
        font-size: 20px;
    }
    .homepage-buttons-container{
        margin-top: 50px;
        gap: 20px;
        justify-content: center;
    }
    .homepage-buttons-container a{
        width: 150px;
        height: 50px;
    }
}

/*Mobile*/
@media (max-width: 500px) {
    .homepage-title{
        font-size: 30px;
    }
    .homepage-subtitle{
        font-size: 18px;
    }
    .homepage-buttons-container a{
        width: 120px;
        height: 40px;
        font-size: 16px;
    }
    .homepage-buttons-container :first-child{
        width: 123px;
        height: 45px;
    }
}