.homepage-title-container{
    padding-left: 100px;
}
.homepage-title{
    font-size:100px;
    font-family: 'Raleway';
    font-weight: 500;
    line-height: 117.4px;
}
.homepage-title span{
    color:#0084FF;
    font-weight: 600;
}
.homepage-subtitle{
    font-size: 35px;
    font-weight: 200;
    font-family: 'PublicSans';
    font-style: italic;
    opacity: 0.8;
}
.homepage-buttons-container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap:50px
}
.homepage-buttons-container button{
    width: 200px;
    height: 60px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    color: #FFF;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.homepage-buttons-container :first-child{
    background-color:#0084FF;
    border: 0;
    transition: box-shadow 0.1s ease-in-out;
}
.homepage-buttons-container :last-child{
    background-color: transparent;
    color: #fff;
    border: 3px solid #FFF;
    opacity: 0.8;
    transition: background-color 0.1s ease-in-out;
}
.homepage-buttons-container :first-child:hover{
    box-shadow: 0 0 20px rgba(0, 132, 255, 0.7);
}
.homepage-buttons-container :last-child:hover{
    background-color: rgba(255, 255, 255, 0.3);
}