---
import Layout from "../layouts/Layout.astro";
import { certificates } from "../my-info.json";
import ImagesSlider from "../components/ImagesSlider";
---

<Layout title="Lazaro Altedill Certificates">
    <main>
        <section>
            <ImagesSlider client:load images = {certificates} imagesMaxWidth={900}/> 
        </section>
    </main>
</Layout>

<style>
    main{
        width: 100%;
        height: 98vh;
        margin: 0 auto; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>