body{
    margin:0 auto;
}
.page-background{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/home-background.jpg');
    background-size: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-color: black;
    position:absolute;
}
.page-background-blur-cover{
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
}
.page-content-panel{
    width: 100vw;
    height: 78vh;
    overflow-y: auto;
}