.contact-card{
    width: 40%;
    height: 250px;
    border: 2px solid white;
    margin: 0 auto;
    margin-top: 130px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:50px;
    z-index: 0;

    animation: slide-from-top auto linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 20%
}

.contact-card header{
    color:#fff;
    font-family: 'Raleway';
    font-size: 20px;
}

@keyframes slide-from-top{
    0%{
        transform: translateY(-400px);
    }
    100%{
        transform: translateY(0);
    }
}

/*Tablet*/
@media (max-width:900px){
    .contact-card{
        width: 60%;
    }
}

/*Mobile*/
@media (max-width:600px){
    .contact-card{
        width: 90%;
    }
}