.footer-section{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.footer-contact-buttons-container{
    margin: 0 auto;
    padding-left: 20px;
}

.footer-phrase{
    color:#ffffffbb;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Raleway';
}