.navbar{
    width: 95vw;
    height: 50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    padding-top:15px;
    gap:8%;
}

.navbar-item{
    width: auto;
    display: flex;
    flex-direction: column;
}
.navbar-item a{
    cursor: pointer;
    color: #fff;
    font-size:23px;
    font-weight: 600;
    font-family: 'Raleway';
    text-decoration: none;
    
}
.navbar-item a:hover{
    color:#78D9FC;
}
.navbar-item span{
    background-color: #fff;
    height: 3px;
    width: 20px;
    
}

.navbar-item:hover span{
    background-color:#0084FF;
    animation: underline-grow 0.1s linear forwards;
}

.navbar-item:hover a{
    color:#0084FF
}

@keyframes underline-grow{
    100%{
        width: 100%;
    }
    
}

/*Tablet*/
@media (min-width: 500px) and (max-width: 950px){
    .navbar{
        justify-content: center;
        margin: 0 auto;
    }
}

/*mobile*/
@media (max-width: 500px){
    .navbar{
        justify-content: center;
        margin: 0 auto;
    }
    .navbar-item a{
        font-size: 16px;
    }
    .navbar-item span{
        background-color: #fff;
        height: 2px;
        width: 20px;
        opacity: 0.8;
    }
}

