.about-content-container{
    padding-top: 30px;
}
.see-certificates-button{
    display: inline;
    white-space: nowrap;
    color:#ffffffbf;
    width: fit-content;
    color:#0084FF;
    text-decoration: none;
}

.see-certificates-button:visited{
    text-decoration: none;
}

.see-certificates-button:active{
    text-decoration: none;
}
