.homepage{
    background-color: #1C2326;
    width: 100vw;
    height: 100vh;
    margin:0 ;
}
.homepage-content-container{
    color:#fff;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

/*Mobile*/
@media (max-width: 600px){
    .homepage-title{
        font-size:50px;
    }
    .homepage-title span{
        margin-left: 30px;
    }
    .homepage-subtitle{
        flex-direction: column;
        gap:5px;
        font-size: 20px;
        margin-top: 10px;
    }
}

