.homepage{
    background-color: #1C2326;
    width: 100vw;
    height: 100vh;
    margin:0;
    padding-bottom: 30px;
    mask-image: linear-gradient(black 90%, transparent);
}
.homepage-content-container{
    color:#fff;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "title image";
    align-items: center;
}

/*Tablet*/
@media (max-width: 950px){
    .homepage-content-container{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "image"
        "title";
    }
}


